/* Reset some default browser styles */
body,
html {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; /* Lighter background */
    color: #333;
    padding: 20px;
}

.container {
    width: 90%; /* Slightly wider container */
    max-width: 1200px; /* Added maximum width */
    margin: 0 auto;
}

.container img {
    display: block; /* Ensures margin:auto works */
    margin: auto; /* Centers the image */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    border: 2px solid #333;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

/* Form styles */
form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border-radius: 5px; /* Rounded input fields */
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555; /* Darker color on hover */
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f5f5f5;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
