<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Password</title>
</head>
<body>
    <h1>Get Password</h1>

    <form id="websiteForm">
        <label for="website">Website:</label>
        <input type="text" id="website" name="website"><br><br>
        
        <button type="submit">Load</button>
    </form>

    <script>
        document.getElementById('websiteForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const website = document.getElementById('website').value;

            fetch('/load_get_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({website})
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            });
            window.location = '/get_password/' + website
        });
    </script>
</body>
</html>
