<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Get Password</h1>

    <form id="websiteForm">
        <label for="website">Website:</label>
        <input type="text" id="website" name="website"><br><br>
        
        <button type="submit">Load</button>
    </form>
    <nav>
        <ul>
            <li><a href="/"><i class="fas fa-sign-out-alt"></i>Home</a></li>
        </ul>
    </nav>

    <script>
        document.getElementById('websiteForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const website = document.getElementById('website').value;

            fetch('/load_get_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({website})
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            });
            window.location = '/get_password/' + website
        });
    </script>
</body>
</html>
